@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    @apply bg-neutral-50 text-neutral-800 font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-primary tracking-tight;
  }
}

@layer utilities {
  .text-highlight-mustard {
    @apply relative after:absolute after:bottom-0 after:left-0 after:w-full after:h-[8px] after:bg-accent-mustard/30 after:-z-10 after:rotate-1;
  }

  .text-highlight-sky {
    @apply relative after:absolute after:bottom-0 after:left-0 after:w-full after:h-[8px] after:bg-accent-sky/30 after:-z-10 after:-rotate-1;
  }

  .text-highlight-teal {
    @apply relative after:absolute after:bottom-0 after:left-0 after:w-full after:h-[8px] after:bg-accent-teal/30 after:-z-10 after:rotate-2;
  }
}